source https://www.nuget.org/api/v2

framework: auto-detect
storage: none

nuget FSharp.Core ~> 8.0
nuget Fable.Core
nuget Fable.Browser.Event
nuget Fable.Browser.WebStorage
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Promise
nuget Feliz
nuget Feliz.Bulma
nuget NicoVIII.SimpleOptics
nuget Thoth.Json
