source https://www.nuget.org/api/v2

storage: none

nuget FSharp.Core ~> 5.0
nuget Fable.Core 3.2.3
nuget Fable.Browser.Event ~> 1.0
nuget Fable.Browser.WebStorage ~> 1.0
nuget Fable.Elmish ~> 3.1
nuget Fable.Elmish.React ~> 3.0
nuget Fable.Promise ~> 3.0
nuget Fable.SimpleJson ~> 3.0
nuget Feliz ~> 1.0
nuget Feliz.Bulma ~> 2.0
