name: Build

on:
  push:
    branches:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        dotnet: [8.0.403]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - name: Setup sass
        run: |
          mkdir -p $GITHUB_WORKSPACE/bin/sass_arch
          curl -sSL -o $GITHUB_WORKSPACE/bin/sass_arch/sass.tar.gz https://github.com/sass/dart-sass/releases/download/1.80.6/dart-sass-1.80.6-linux-x64.tar.gz
          tar xzvf $GITHUB_WORKSPACE/bin/sass_arch/sass.tar.gz -C $GITHUB_WORKSPACE/bin/sass_arch
          mv $GITHUB_WORKSPACE/bin/sass_arch/dart-sass/* $GITHUB_WORKSPACE/bin/
          rm -r $GITHUB_WORKSPACE/bin/sass_arch
          echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.12.3
      - name: Restore
        run: dotnet run restore
      - name: Run build
        run: dotnet run build
